# Bỏ qua thư mục /bin và /obj của Visual Studio
/bin/
/obj/

# Bỏ qua thư mục được tạo bởi Rider IDE
/.idea/

# Bỏ qua thư mục node_modules của npm
/node_modules/

# Bỏ qua các file cài đặt
*.suo
*.user
*.sln.docstates
